
@mixin display_flex_row ($position_main, $position_second) {
    display: flex;
    flex-direction: row;
    justify-content: $position_main;
    align-items: $position_second;
}

@mixin display_flex_column ($position_main, $position_second) {
    display: flex;
    flex-direction: column;
    justify-content: $position_second; 
    align-items: $position_main;
}

@mixin display_wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin display_wrap_center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@mixin white-gradient {
	background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

