@import 'variables';

@mixin mobile {
    @media only screen and (min-width: $layout_bp_mobile) {
      @content;
    }
  }

@mixin tablet {
  @media only screen and (min-width: $layout_bp_tablet) {
      @content;
  }
}

/* No funciona así, necesitaríamos JS
@mixin scroll-down {
  @media only screen and (min-height: 800px) {
    @content;
  }
}
*/