@import './custom';
@import './variables';
@import './responsive';
@import './mixin';

* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
  max-width: 100%;
}

.header {
  width: 100%;
  background-color: $color_primary;
  color: white;
  @include display_flex_column(center, center);
  padding: 1% 4%;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  border: none;

  @include tablet {
  }

  &__publi {
    margin: 0% 5% 0% 5%;

    @include tablet {
      font-size: 20px;
      margin: 0 3% 0% 3%;
    }
  }

  &__info {
    padding-bottom: -5px;
  }

  &__logo-image {
    margin-top: 4px;
    margin-bottom: 5%;
    width: 260px;
    height: 70px;

    @include tablet {
      margin-bottom: 2%;
    }

  }

  &__form-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
  }

  &_form-content > input, select {
    border-radius: 15px;
    background-color: white;
    height: 37px;
    border: none;
  }

  &__input {
    text-indent: 15px;
    min-width: 270px;
  }

  &__categories {
    min-width: 60px;
    padding: 3px;
  }

  &__button {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    background-color: yellow;
    margin-top: 3%;
    margin-left: 1px;
    padding: 1px;
    border: none;

  }

  &__button-image {
    width: 18px;
    height: 18px;
  }

  &_form-content {
    min-width: calc(100% - 3px);
  }

  &__menu {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
    min-width: 100%;
    text-indent: 15px;    
  }

}

// Carrusel animación
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-240px * 7))}
}

$animationSpeed: 40s;

.main {
  @include display_flex_column(center, space-between); 
  width: 100%;
  border: none;

  @include tablet {

  }
  
  &__home {
    @include display_flex_column(center, space-between);
    width: 95%;
    min-height: 1720px;
    padding-top: 20px;

    @include tablet {
      min-height: 880px;
    }
  }

  &__carousel {
    margin-bottom: 20px;
  }

  /* Carrusel */
  &__slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 200px;
    overflow:hidden;
    position: relative;
    width: 370px;
    border-radius: 15px;

    @include tablet { 
      height: 320px;
      width: 560px; 
    }
    
    &::before, &::after {
      content: "";
      height: 100px;
      position: absolute;
      width: 200px;
      z-index: 2;
    }
    
    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }
  
    &::before {
      left: 0;
      top: 0;
    } 
    
  }

  &__slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  &__slide {
    height: 100px;
    width: 250px;
    margin: 0 30px;

    @include tablet {
      margin: 0 140px;
    }
  }

  &__slide-image {
    height: 200px; 
    width: 310px;

    @include tablet { 
      height: 320px;
      width: 550px;
    }
  }

  &__funko-family {
    @include display_flex_column(center, space-between);
    width: 90%;
    border-radius: 15px;

    @include tablet {
      @include display_flex_row(space-evenly, center);
      margin: 0 auto;
      margin-top: 25px;
      margin-bottom: 20px;
    }
  }

  &__harry-image {
    width: 290px;
    height: 310px;
    border-radius: 15px;
    margin-bottom: 22px;

    @include tablet {
      width: 220px;
      height: 230px;
    }
  }

  &__lilo-image {
    width: 320px;
    height: 210px;
    border-radius: 15px;

    @include tablet {
      width: 280px;
      height: 200px;
    }
  }

  &__other-sections {
    width: 80%;
    @include display_wrap_center;
    margin-top: 5px;

    @include tablet {
      margin-bottom: 20px;
    }
  }

  &__other-image {
    margin: 10px;
  }

  &__disney {
    width: 100%;
    @include display_wrap_center;
  }
 
  &__disney-image {
    width: 350px;
    height: 182px;
    
    border-radius: 15px;
    margin-top: 10px;

    @include tablet {
      width: 210px;
      height: 120px;
      margin: 7px;
      margin-top: 12px;
    }
  }

  &__diy {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
    @include display_flex_row(center, center);

    &-image {
      width: 80%;
      border-radius: 15px;
    }
  }

  &__articles {
    width: 100%;
    @include display_flex_column (center, space-between);
    min-height: 1100px; 
    padding: 30px 0;
    margin-top: 30px;

    @include tablet {
      width: 80%;
      @include display_flex_row(space-between, center);
      padding: 15px;
      min-height: 380px;
      border-radius: 25px;
      margin-bottom: 30px; 
      border: rgb(226, 226, 226) 4px solid;
    }

    &-info {
      @include display_flex_column (center, flex-start);
      width: 70%;
      min-height: 400px;
      background-color: white; 
      padding: 25px;
      border-radius: 20px;
      border: rgb(226, 226, 226) 4px solid;

      @include tablet {
        border: none;
      }
    }

    &-title {
      font-weight: 800;
      padding-bottom: 20px;
      border-bottom: 1px rgb(226, 226, 226) solid;
      width: 100%;

      @include tablet {
        font-size: 20px;
      }
    }

    &-image {
      width: 200px;
      height: 200px;

      @include tablet {
        width: 170px;
        height: 170px;
      }
    }

    &-funko-name {

      @include tablet {
        font-size: 18px;
      }
    }

    &-write {
      text-align: center;
      color: #4d4e4e;

      @include tablet {
        font-size: 12px;
      }
    }

    &-price {
      font-weight: 600;
      border-top: 1px rgb(226, 226, 226) solid;
      padding-top: 20px;
      text-align: center;
      width: 100%;
      margin-bottom: 10px;
    }

    &-button-mobile {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      background-color: rgb(226, 226, 226);
      border: none;

      &-image {
        width: 20px;
        height: 20px;
      }

      @include tablet {
        display: none;
      }
    }

    &-button-tablet {
      width: 158px;
      height: 38px;
      border-radius: 25px;
      background-color: yellow;
      border: none;
      display: none;

      @include tablet {
        display: inline-block;
      }
    }
  }

  &__newsletter {
    @include display_flex_column(space-between, flex-start);
    width: 100%;
    min-height: 400px;
    background-color: $color_primary;
    padding: 20px;

    @include tablet {
      @include display_flex_row(center, space-between);
      padding-left: 3%; 
    }
  }

  &__nl-logo {
    @include display_flex_row(center, space-between);
  }

  &__nl-image {
    width: 75px;
    height: 75px;
    background-color: yellow;
    padding: 15px;
    border-radius: 30px;
    font-size: 40px;
    margin-right: 10px;
    margin-top: 13px;
  }

  &__nl-title {
    color: white;
    font-weight: 600;
    letter-spacing: 5px;
    margin-top: 26px;
  }
  
  &_nl-terms {
    @include display_flex_column(center, center);
    margin: 30px 15% 15px 15%;

    @include tablet {
      margin: 2% 4%;
    }
  }

  &__accept-terms-checkbox {
    margin-bottom: 8px;
    width: 15px;
    height: 15px;
  }

  &__accept-terms-write {
    color: rgb(17, 17, 148);
  }

  &__nl-explanation {
    font-weight: 700;
  }

  &__form-content {
    border-radius: 15px;
    background-color: white;
    width: 100%;
    height: 37px;
    border: none;
    text-indent: 15px;
  }

  &__form-submit {
    border: none;
    background-color: yellow;
    margin-top: 15px;
    width: 80px;
    height: 40px;
    border-radius: 25px;
  }
}

.footer {
  bottom: 0;
  width: 100%;
  display: inline-block;
  min-height: 300px;
  margin-bottom: 0;
  padding: 5px;
  border: none;
  
  @include tablet {
    font-size: 18px;
  }

  &__list-box {
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 6%;
  }

  &__list-information {
    list-style-type: none;
    margin-left: 0px;
  }

  &_list-item {
    line-height: 40px;
    margin-bottom: 9px;
    width: 80%;
  }

  &_list-item:first-child {
    margin-top: 3%;
  }

  &_list-item:last-child {
    margin-bottom: 3%;
  }

  &__show-info {
    border: none;
    background-color: white;
    font-weight: 600;
  }

  &__about-us {
    font-size: 15px;
    line-height: 16px;
    text-align:justify;
    padding-right: 5%;
    padding-left: 3px;

    @include tablet {
    font-size: 17px;
    line-height: 20px;
    }
    
  }

  &__payment-logos-box {
    @include display_flex_row(flex-start, center);
  }

  &__payment-logos {
    width: 35px;
    height: 25px;
    margin-left: 4px;

    @include tablet {
      width: 49px;
      height: 33px;
      margin-left: 4px;
    }

  }

  &__link-account {
    color: rgb(175, 175, 175);

  }

  &__link-account::before {
    content: '>';
    color: rgb(175, 175, 175);
  }

  &__shop-info {
    @include display_flex_row(flex-start, center);
  }

  &__shop-image {
    width: 25px;
    height: 25px;
  }

  &__shop-location-info {
    margin-left: 3%;
  }

  &__shop-write {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 15px;

    @include tablet {
      font-size: 17px;
      line-height: 20px;
        }
  }

  &__privacy-button {
    margin-left: 0%;
    text-align: center;
    padding: 1%;
    border: 1px solid blue;
    width: 280px;
    background-color: #37BCDF;
    color: white;
    font-size: 14px;
    margin-bottom: 35px;

    @include tablet {
      width: 380px;
      font-size: 17px;
    }
  }

  &__privacy-info {
    margin-top: 15px;
    padding: 14px;
    width: 100%;
    border-top: 1px solid black;
    box-shadow: 0px -5px 30px -10px #4d4e4e;
    @include display_flex_column(flex-start, center);
    text-align:justify;
  }

  &__privacy-buttons {
    @include display_flex_row(flex-end, center);
    width: 100%;
  }

  &__privacy-more-info {
    border: none;
    background-color: white;
    margin-right: 16px;
  }

  &__privacy-accept {
    background-color: blue;
    color: white;

  }

  &__hide-info {
    display: none;
    color: rgb(175, 175, 175);
  }

  &__hide-info--black {
    display: none;
    color: rgb(0, 0, 0);
  }
  
  &__info-taxes {
    color: rgb(175, 175, 175);
    padding-left: 4%;
    font-size: 14px;

    @include tablet {
      font-size: 16px;
      text-align: center;
    }
  }

  &__rrss {
    @include display_flex_column(flex-start, center);
    margin-bottom: 25px;

    @include tablet {
      @include display_flex_row(space-between, center);
    }
  }

  &__info-prestashop {
    min-width: 100%;
    font-size: 14px;

    @include tablet {
      font-size: 16px;
    }
  }

  &__info-prestashop-link {
    color: rgb(175, 175, 175);
    text-decoration: none;
    margin-left: 4%;
  }

  &__rrss-logos {
    @include display_flex_row(space-between, center);
  }

  &__top-link {
    transition: all .25s ease-in-out;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    display: inline-flex;
    background-color: rgb(255, 255, 255);
     
   cursor: pointer;
   align-items: center;
   justify-content: center;
   margin: 0 1em 1em 0;
   border-radius: 50%;
   width: 40px;
   height: 40px;

   @include tablet {
    width: 80px;
   height: 80px;
   }
  
}
}

.footer__title-click:hover + .footer__hide-info {
  display: block;
}

.footer__title-click:hover + .footer__hide-info--black {
  display: block;
}